{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <title>Sobre nós</title>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="{% static 'images/foto1.jpg' %}" alt="">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Porto, Portugal
              </span>
            </a>
            <a href="" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Contacte: 252791662
              </span>
            </a>
            <a href="" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                geral@centrosony.com.pt
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{% url 'about' %}">
              <span>
                Sobre nós
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'about' %}"> Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'service' %}"> Os nossos Produtos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'guard' %}"> Merchandise </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contacta-nos</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="{% static 'images/sonyplay.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Quem somos nós?
              </h2>
            </div>
            <p>
              A Sony tem mantido uma posição de destaque na indústria dos jogos através do lançamento de consolas icônicas, como a PlayStation, PlayStation 2, PlayStation 3, PlayStation 4 e o PlayStation 5. Além disso, ela tem uma biblioteca diversificada de jogos exclusivos que continuam a cativar os jogadores com narrativas envolventes, gráficos impressionantes e mecânicas inovadoras.
              Com o ecossistema online do PlayStation Network, a Sony oferece aos jogadores uma plataforma robusta para interações sociais, compras de jogos digitais e serviços de assinatura, como o PlayStation Plus. Além disso, a empresa também demonstrou compromisso com a realidade virtual, oferecendo experiências imersivas e envolventes por meio do PlayStation VR.
              Por meio da sua dedicação contínua à excelência técnica e à criação de experiências de jogos memoráveis, a Sony continua a definir os padrões da indústria de jogos, reforçando a sua reputação como uma das maiores forças por trás da evolução e popularização do entretenimento digital interativo.
            </p>
            <div class="btn-box">
              <a href="https://www.sony.pt/">
                Ler mais
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="{% url 'home' %}">
              <span>
                Copyright Information
              </span>
            </a>
            <p>
              This website has been created by a student and is intended for non-commercial purposes
            </p>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Contacte-nos
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Rua nº17 Campo de Flores,
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Contacto: 252791662
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                geral@centrosony.com.pt 
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="#">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscreve!
              </button>
            </form>
            <div class="social_box">
              <a href="https://www.facebook.com/Sony/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/Sony">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCJKQTB_ra-8Lh4EI32BOpag">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/sony/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> MPC Corporation</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>